<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Post</title>
</head>
<body>
<h1>Create New Post</h1>

<form th:action="@{/posts}" th:object="${postDto}" method="post">
    <label for="content">Content:</label>
    <input type="text" th:field="*{content}" id="content" required />
    <br/>

    <label for="userId">User:</label>
    <select th:field="*{userId}" id="userId">
        <option th:each="user : ${users}"
                th:value="${user.id}"
                th:text="${user.name}">
        </option>
    </select>
    <br/>

    <button type="submit">Save</button>
</form>

<a th:href="@{/posts}">Back to Post List</a>
</body>
</html>
